# Credit https://grafikart.fr/tutoriels/router-628
<IfModule mod_rewrite.c>
    RewriteEngine on

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>